## Make and index some data in Python

Creating vectors, and a pandas DataFrame, some low-key indexing

In [12]:
import numpy as np
import pandas as pd

In [13]:
teddy = [1, 2, 8] #make a list
type(teddy) #check class

khora = [10, 20, 1000]
type(khora)

teddy + khora #how can we change these vectors to be numeric ?

[1, 2, 8, 10, 20, 1000]

In [15]:
teddy_vec = np.array(teddy) #create an array (numeric vector)
type(teddy_vec)

teddy_vec

array([1, 2, 8])

In [16]:
teddy[1] #Python uses zero-positioning and single [] to call the content of a vector

2

In [17]:
teddy[1] = 5000 #lists are mutable

In [18]:
teddy[1]

5000

In [19]:
teddy_tup = (1, 3, 5)#make a tuple with round ()

In [20]:
teddy_tup[1] = 23 #tuples are not mutable

TypeError: 'tuple' object does not support item assignment

In [27]:
waffle = [2.9, "a burrito", [0, 1, 15], False] #we can create lists w/elements of different classes

In [24]:
waffle

[2, 'a burrito', [0, 1, 15], False]

In [25]:
waffle[2]

[0, 1, 15]

In [28]:
type(waffle[0])

float

In [29]:
waffle[0] = "Tuesday"#we can replace elements

In [30]:
waffle

['Tuesday', 'a burrito', [0, 1, 15], False]

In [31]:
cows = {'name': ["moo", "spots", "happy"], 'location': ["pasture", "prairie", "farm"]} #create a dictionary

In [32]:
cows

{'name': ['moo', 'spots', 'happy'], 'location': ['pasture', 'prairie', 'farm']}

In [34]:
cows_df = pd.DataFrame(cows) #make a pandas df 
cows_df

    name location
0    moo  pasture
1  spots  prairie
2  happy     farm